# not really very secret: it's "secret"
CLIENT_SECRET=
COOKIE_SECRET="default cookie secret"

IDP_BASE_URL="https://demo.duendesoftware.com/connect"
AUTHORIZE_PATH="/authorize"
TOKEN_PATH="/token"

CLIENT_ID="interactive.confidential"
OTHER_PARAMS=""

SCOPE="openid email profile"

BASE_URL='http://example1.internal:9023'
APP_TITLE="Duende Demo Server"
SPIEL="Uses Duende's Demo Server at https://demo.duendesoftware.com as an OpenId Provider"

API_ENDPOINT_1="https://demo.duendesoftware.com/connect/userinfo"
